<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
	If u want to become a Ruby on Rails ninja, you will find any necessary
	contact information on the <a href="http://www.railstutorial.org/#contact"> contact page.
	</a>
</p>